player-connection-mode=Listen
player-connection-guid=3181668873
player-connection-debug=0
player-connection-project-name=Mirror SDK
player-connection-ip=192.168.86.173
player-connection-ip=192.168.229.1
player-connection-ip=192.168.86.1
player-connection-ip=26.143.195.0
player-connection-ip=169.254.175.251
player-connection-ip=172.21.160.1
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
